/* Ini File CSS */

body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    background-image: url(../img/background.png);
    height: 1050px;
    margin-top: 80px;
}

main {
    display: flex;
    gap: 50px;
    padding: 32px;

}

.top-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    box-shadow: 0 0 3px 4px #4444;
    background-color: white;
    background-image: url(../img/topbar.png);
}

.container {
    width: fit-content;
    margin: auto;
    margin-top: 80px;
    background-color: rgba(255, 255, 255, 0.5);
}

footer {
    text-align: center;
}

.main-header {
    text-align: center;
    text-shadow: 1.5px 1.5px 1.5px rgb(48, 45, 45);
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

article {
    text-align: justify;
}

form {
    background-color: #9CCDDB;
    padding: 32px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 2px #4444;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

button {
    border: none;
    padding: 8px;
    color: #D0D7E1;
}

.bg-hitung {
    background-color: #064469;
}

.bg-reset {
    background-color: #5790AB;
}

.result-section {
    padding: 16px;
    text-align: center;
    background-color: #9CCDDB;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 2px #4444;
}

#result-bmi {
    font-size: xxx-large;
    font-family: math;
}